
body{
    background-color:#a69abd;
    color:#1f3134;
}
h1{
    text-align: center;
}
h1 a{
     color:#121311;
     text-decoration:none;
}
ul {
    list-style: none;
}
a:link{
    color:#2c4f54;
}
a:visited{
    color:#2c4f54;
}
a:hover{
    color:#1f3134;
}
#header{
    width: 90%;
    border-bottom:1px solid #333631;
    margin: 0 auto;
    padding-bottom:5px;
}
#lastBuildDate{
    text-align: right;
}
#mokuji{
    background-color:#cca6bf;
    height: 100px; 
    overflow-y: scroll;
    overflow-x: hidden;
    width:500px;
    border:0.5px solid #c8c2c6;
    padding:3px;
    margin: 0 auto;
    border-radius: 3px / 3px;
}
#main{
    width:80%;
    margin: 0 auto;
}

#footer{
    text-align: center;
}
.content-pubdate{
    font-size:90%;
    color:#2c4f54;
    text-align: right;
}
.content{
    background-color:#f6bfbc;
    border: 1px solid #e4d2d8;
    border-radius: 10px / 10px;
    margin:10px;
    padding:10px;
}
.content-desc p{
    margin:1px;
    padding:1px;
}

.content-div-title span{
    font-size:110%;
    color:#0d0015;
    background: linear-gradient(rgba(254,253,99,0) 70%, #fef263 70%);
}
img{
    max-width:80%;
}